<template>
  <v-card flat class="pa-3 mt-2">
    <v-card-text>
      <v-form class="multi-col-validation mt-6">
        <v-row>
          <v-col md="6" cols="12">
            <v-text-field label="Nome" dense outlined></v-text-field>
          </v-col>
          <v-col md="6" cols="12">
            <v-text-field label="Email" dense outlined></v-text-field>
          </v-col>
          <v-col md="6" cols="12">
            <v-text-field type="password" label="Senha" dense outlined></v-text-field>
          </v-col>
          <v-col md="6" cols="12">
            <v-text-field type="password" label="Confirmar Senha" dense outlined></v-text-field>
          </v-col>
          <v-col md="6" cols="12">
            <v-text-field type="number" label="CPF ou CNPJ" dense outlined></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <v-text-field type="date" label="Fundação" dense outlined></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <v-text-field dense label="Telefone" outlined></v-text-field>
          </v-col>

          <v-col cols="12" md="6">
            <div class="d-flex flex-wrap">
              <v-checkbox hide-details class=" mt-0"> </v-checkbox>

              <!-- forgot link -->
              <a href="javascript:void(0)" class="mt-1">
                concordo com os termos
              </a>
              <div class="d-flex align-center justify-space-between flex-wrap">
                <v-checkbox label="Receber Promoções" hide-details class="ml-5 mt-0"> </v-checkbox>
              </div></div
          ></v-col>

          <v-col cols="12">
            <v-btn color="primary" class="me-3 mt-4">
              Salvar
            </v-btn>
            <v-btn color="secondary" outlined class="mt-4" type="reset" @click.prevent="resetForm">
              Cancelar
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { mdiAlertOutline, mdiCloudUploadOutline } from '@mdi/js'
import { ref } from '@vue/composition-api'

export default {
  props: {
    accountData: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const status = ['Active', 'Inactive', 'Pending', 'Closed']

    const accountDataLocale = ref(JSON.parse(JSON.stringify(props.accountData)))

    const resetForm = () => {
      accountDataLocale.value = JSON.parse(JSON.stringify(props.accountData))
    }

    return {
      status,
      accountDataLocale,
      resetForm,
      icons: {
        mdiAlertOutline,
        mdiCloudUploadOutline,
      },
    }
  },
}
</script>
